body{
    background-color: #860c96;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #e3d4e9;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: #cd76f3;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
nav a:hover {
    background-color: #72039b;
}